<div>
    <h1>Our Mission Statement</h1>
</div>
<div class="container md-4"></div>
<div class="container md-4">


    <p>Our mission at Jack of All Trades is to empower entrepreneurs and small-business owners to take full control of their operations with an intuitive, 
        “do it yourself!” platform—streamlining everything from inventory control and team management, so companies  can maximize productivity, 
        minimize overhead, and grow their business with unparalleled efficiency.</p><br/></div>


    <!--Images-->
    <div class="row">
        <div class="col-sm-5 p-5 rounded-4">
          <img
            src="building.jpg"
            class="img-fluid rounded-4"
            alt="Hardware building from outside"
          />
          </div>
        <div class="col-sm-5 p-5 rounded-4">
          <img
            src="toolShelf.jpg"
            class="img-fluid rounded-4"
            alt="A shelf full of tools"
          /></div>
          </div>
